<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Form</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <form action="/price" method="post" id="shipping-form">
        <label for="weight">Weight (oz.)</label>
        <input type="number" name="weight" id="weight" step="0.01">
        <fieldset>
            <legend>Shipping Method</legend>
            <label for="stamp"><input type="radio" name="method" id="stamp" value="stamp"> Letter (Stamped) [Max 3.5 oz]</label>
            <label for="meter"><input type="radio" name="method" id="meter" value="meter"> Letter (Metered) [Max 3.5 oz]</label>
            <label for="large"><input type="radio" name="method" id="large" value="large"> Large Envelope (Flat) [Max 13 oz]</label>
            <label for="parcel"><input type="radio" name="method" id="parcel" value="parcel"> First-Class Package Service--Retail [Max 13 oz]</label>
        </fieldset>
        <div id="zone-wrap" style="display: none;">
            <label for="zone">Zone (1-9)</label>
            <input type="number" name="zone" id="zone" step="1" min="1" max="9">
        </div>
        <input type="submit" value="Calculate">
    </form>
    <p id="error"></p>
    <p id="result"></p>
    <script>
        document.getElementById('shipping-form').addEventListener('submit', (e) => {
            e.preventDefault();

            if (!document.querySelector('[name="method"]:checked')) {
                document.getElementById('error').innerHTML = "Error: Select a shipping method.";
                return
            }

            let weight = document.getElementById('weight').value;
            let method = document.querySelector('[name="method"]:checked').value;
            let zone = document.getElementById('zone').value;

            if (method == 'parcel' && !zone) {
                document.getElementById('error').innerHTML = "Error: Input a vaild zone.";
                return
            }


            var xmlhttp = new XMLHttpRequest();
            var url = "/price_service?weight=" + weight + "&method=" + method + "&zone=" + zone;

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(this.responseText);
                    if (result.error) {
                        document.getElementById('error').innerHTML = result.error;
                    } else {
                        document.getElementById('error').innerHTML = "";
                    }
                    document.getElementById('result').innerHTML = "Price: $" + (result.result.price / 100).toFixed(2);

                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        });

        let methods = document.querySelectorAll('[name="method"]');
        for (let i = 0; i < methods.length; i++) {
            methods[i].addEventListener("change", function() {
                let method = document.querySelector('[name="method"]:checked').value;
                if (method == 'parcel') {
                    document.getElementById('zone-wrap').style.display = 'block';
                } else {
                    document.getElementById('zone-wrap').style.display = 'none';
                }
            });
        }
    </script>
</body>

</html>